@font-face {font-family: "Open Sans";src: url("./fonts/OpenSans-Regular.ttf");font-weight: normal;font-style: normal;}
@font-face {font-family: "Open Sans-SemiBold";src: url("./fonts/OpenSans-SemiBold.ttf");font-weight: normal;font-style: normal;}
@font-face {font-family: "Lato";src: url("./fonts/Lato-Black.ttf");font-weight: normal;font-style: normal;}
@font-face {font-family: "RobotoMono";src: url("./fonts/RobotoMono-Bold.ttf");font-weight: normal;font-style: normal;}

$color-primario: #43DEE2;
$color-secundario: #173e63;
$white: #ffffff;
$orange: #eb7815;
$green: #63bd0f;
$fuente-titulo: 'Lato';
$fuente-pricipal: 'Open Sans';
$fuente-secundaria: 'Open Sans-SemiBold';
$fuente-logo: 'RobotoMono';

/* ESTILOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #adadad;
}

.App {
    font-family: $fuente-pricipal;
}