@import 'base';

.contenedor{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 90px;
    font-family: 'Open Sans';
    font-size: 1em;
}

.img_reg_ventas{
    width: 600px;
    height: 536.72px;
    margin-right: 100px;
}

.label{
    display: block;
    margin-bottom: 10px;
    color: $color-secundario;
}

<<<<<<< HEAD
.input{
    width: 300px;
    height: 50px;
=======
.input, .input-id, .textarea{
    width: 300px;
    height: 40px;
>>>>>>> origin/development
    margin-bottom: 30px;
    padding: 20px;
    font-size: 1em;
    background: #F0F0F0;
<<<<<<< HEAD
    border-radius: 15px;
=======
    border-radius: 10px;
>>>>>>> origin/development
    border: none;
}

.input:focus{
    outline: 2px solid $color-secundario !important;
}

.formulario{
    display: grid;
    grid-template-columns: auto auto;
    
    h4{
<<<<<<< HEAD
        margin-top: 45px;
=======
        margin-top: 35px;
>>>>>>> origin/development
        margin-bottom: 45px;
        font-family: $fuente-secundaria;
        color: $color-secundario;
    }
}

.btn-guardar{
<<<<<<< HEAD
    width: 220px;
    height: 50px;
=======
    width: 200px;
    height: 40px;
>>>>>>> origin/development
    margin-top: 50px;
    margin-right: 75px;
    font-family: $fuente-secundaria;
    font-size: 1em;
    color: $white;
    background: $color-secundario;
    border-radius: 10px;
    border: none;
    cursor: pointer;
<<<<<<< HEAD
    transition: all 0.5s;
}

.btn-guardar:hover{
    background: #63bd0f;
}

.btn-cancelar{
    width: 162px;
    height: 50px;
=======
    transition: all 0.3s;
}

.btn-guardar:hover{
    background: $green;
}

.btn-cancelar{
    width: 150px;
    height: 40px;
>>>>>>> origin/development
    font-family: 'Open Sans';
    font-size: 1em;
    color: $color-secundario;
    background: $white;
    border: 2px solid $color-secundario;
    border-radius: 10px;
    cursor: pointer;
<<<<<<< HEAD
    transition: all 0.5s;
}

.btn-cancelar:hover{
    border: 2px solid #eb7815;
    color: #eb7815;
=======
    transition: all 0.3s;
}

.btn-cancelar:hover{
    border: 2px solid $orange;
    color: $orange;
    background: #fff0e3;
>>>>>>> origin/development
}
