@import 'base';

.contenedor{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 90px;
    font-family: 'Open Sans';
    font-size: 1em;
}

.img_reg_ventas{
    width: 600px;
    height: 536.72px;
    margin-right: 100px;
}

.label{
    display: block;
    margin-bottom: 10px;
    color: $color-secundario;
}

.input{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 1em;
    background: #F0F0F0;
    border-radius: 15px;
    border: none;
}

.input:focus{
    outline: 2px solid $color-secundario !important;
}

.formulario{
    display: grid;
    grid-template-columns: auto auto;
    
    h4{
        margin-top: 45px;
        margin-bottom: 45px;
        font-family: $fuente-secundaria;
        color: $color-secundario;
    }
}

.btn-guardar{
    width: 220px;
    height: 50px;
    margin-top: 50px;
    margin-right: 75px;
    font-family: $fuente-secundaria;
    font-size: 1em;
    color: $white;
    background: $color-secundario;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-guardar:hover{
    background: $green;
}

.btn-cancelar{
    width: 162px;
    height: 50px;
    font-family: 'Open Sans';
    font-size: 1em;
    color: $color-secundario;
    background: $white;
    border: 2px solid $color-secundario;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-cancelar:hover{
    border: 2px solid $orange;
    color: $orange;
    background: #fff0e3;
}
